@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:ital,wght@1,300&family=Kanit:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
body{
    background-color: #111;
}

.site{
    display: flex;
    background: #111;
}


.topo{
    margin-left: 4%;
    margin-top: 1%;
}

.menu ul {
    display: flex;
}

.menu a{
    margin-left: 20%;
    text-decoration: none;
    
}

.site #home{
    margin-left: 1%;
}

.site nav ul a{
    margin-left: 35%;
}

.site nav{
    margin-top: 8%;
}

.menu a {
    color: rgb(212,212,212);
    background-color: #111;
    font-family: 'Poppins','sans-serif';
    font-size: 15pt;
    margin-top: 15px;
}

#redesocial{
    margin-left: 43%;
    margin-top: 2%;
}

.site #redesocial ul{
    display: flex;
}

#redesocial a{
    text-decoration: none;
    padding: 10px 40px;

}


#redesocial a{
    font-size: 13pt;
    font-family: 'Poppins','sans-serif';
    color: rgb(0,255,209);
    cursor: pointer;
}

.home {
    display: flex;
    
}

.home h2 {
    margin-top: 18%;
    margin-left: 15%;
    
    font-size: 35pt;
}

#redesocial input{
    
    width: 155px;
    border-radius: 20px;
    background-color: rgb(42,146,169);
    color: rgb(0,255,209);
    font-size: 13pt;
    border: 0;
    font-family: 'Poppins','sans-serif';
    cursor: pointer;
}

.home img{
    width: 800px;
    margin-right: 100px;
}

.home p{
    padding: 2% 10% 0% 15% ;
    text-indent: 15px;
    margin-top: 1%;
    font-size: 18pt;
    color:  whitesmoke;
    font-family: 'Roboto Slab', serif;
}

.home input{
    background-color: rgb(42,146,169);
    color: whitesmoke;
    border-radius: 20px;
    width: 200px;
    height: 45px;
    border: 0;
    text-align: center;
    margin-left: 12%;
    margin-top: 7%;
    font-size: 14pt;
    cursor: pointer;
}

.home #inicio{
    margin-left: 20%;
    margin-top: 8%;
}
.serv{
    text-align: center;
}

.servico{
    color: white;
    text-align: center;
    margin-top: 4%;
    
}

.servico p{
    font-family: 'Acme', sans-serif;
    margin-top: 2px;
    text-indent: 5%;
    padding: 0% 30%;
    padding-right: 40% 50%;
}



.caixas #sitw{
    margin-left: 5%;
    margin-top: 5%;
    height: 300px;
    width: 350px;
    border-radius: 20px;
    background-color: whitesmoke;
}
#sitw h2{
    text-align: center;
}

#sitw img{
    margin-left: 65px;
    margin-right: 20px;
    height: 20px;
    width: 20px;
}

#sitw h2{
    color: rgb(0,71,255);
    font-family: 'Kanit', sans-serif;
    font-size: 13pt;
    display: flex;
    margin-top: 20px;
}

#sitw p{
    text-align: center;
    color: #111;
    font-family: 'Acme', sans-serif;
    padding: 0% 5%;
    font-size: 12pt;
}
.caixas{
    display: flex;
    margin-left: 10%;
}

.caixas #plgw{

    margin-left: 13%;
    margin-top: 5%;
    height: 300px;
    width: 350px;
    border-radius: 20px;
    background-color: whitesmoke;
}



#plgw img{
    margin-left: 43px;
   margin-right: 20px;
    height: 20px;
    width: 20px;
}

#plgw h2{
    color: rgb(0,71,255);
    font-family: 'Kanit', sans-serif;
    font-size: 13pt;
    display: flex;
    margin-top: 20px;
}

#plgw p{
    text-align: center;
    color: #111;
    font-family: 'Acme', sans-serif;
    padding: 0% 4%;
    font-size: 12pt;
}

.caixas #rdgs{

    margin-left: 13%;
    margin-top: 5%;
    height: 300px;
    width: 350px;
    border-radius: 20px;
    background-color: whitesmoke;
}

#rdgs img{
   height: 20px;
   width: 20px;
   margin-left: 70px;
   margin-right: 20px;
}

#rdgs h2{
    color: rgb(0,71,255);
    font-family: 'Kanit', sans-serif;
    font-size: 13pt;
    display: flex;
    margin-top: 20px;
}

#rdgs p{
    text-align: center;
    color: #111;
    font-family: 'Acme', sans-serif;
    padding: 0% 3%;
    font-size: 12pt;
}

.caixasE {
    display: flex;
    margin-left: 10%;
}

.caixasE #wai{
    margin-left: 5%;
    margin-top: 5%;
    height: 300px;
    width: 350px;
    border-radius: 20px;
    background-color: whitesmoke;
}

#wai img{
    margin-left: 37px;
    margin-right: 20px;
    height: 21px;
    width: 21px;
}

#wai h2{
    color: rgb(0,71,255);
    font-family: 'Kanit', sans-serif;
    font-size: 13pt;
    margin-top: 20px;
}

#wai p{
    text-align: center;
    color: #111;
    font-family: 'Acme', sans-serif;
    padding: 0% 2%;
    font-size: 12pt;
}

.caixasE #osw{
    margin-left: 13%;
    margin-top: 5%;
    height: 300px;
    width: 350px;
    border-radius: 20px;
    background-color: whitesmoke;
}

#osw img{
    margin-left: 20px;
    margin-right: 20px;
    height: 20px;
    width: 20px;
}

#osw h2{
    color: rgb(0,71,255);
    font-family: 'Kanit', sans-serif;
    font-size: 13pt;
    display: flex;
    margin-top: 20px;
}

#osw p{
    text-align: center;
    color: #111;
    font-family: 'Acme', sans-serif;
    padding: 0% 1%;
    font-size: 11pt;
    text-indent: 25px;
}

.caixasE #mob{

    margin-left: 13%;
    margin-top: 5%;
    height: 300px;
    width: 350px;
    border-radius: 20px;
    background-color: whitesmoke;
}

#mob img{
    margin-left: 20px;
    margin-right: 20px;
    height: 20px;
    width: 20px;
}

#mob h2{
    color: rgb(0,71,255);
    font-family: 'Kanit', sans-serif;
    font-size: 13pt;
    margin-top: 20px;
}

#mob p{
    text-align: center;
    color: #111;
    font-family: 'Acme', sans-serif;
    padding: 0% 3%;
    font-size: 12pt;
}

#plgw h2{
    text-align: center;
}

#rdgs h2{
    text-align: center;
}


#osw h2{
    text-align: center;
}

#mob h2{
   
    display: flex;
}

#sitw{
    margin-left:   500px;
}

#cax{
    margin-left: 800px;
}

.caixasE{
    width: 1500px;
    margin-left: 170px;
    height: 400px;
}

.caixas{
    height: 400px;
    width: 1500px;
    margin-left: 170px;
    
}

.caixasE p{
    margin-top: 20px;
    
}

.caixas p{
    margin-top: 20px;
}

.caixas button{
    margin-left: 220px;
    margin-top: 40px;
    width: 100px;
    border-radius: 0 10px 0 10px;
    color: #333;
    border: 2px solid;
    cursor: pointer;
}

.caixas button:hover{
    color: #f2f2f2;
    background-color: #333;
}

.caixasE button{
    margin-left: 220px;
    margin-top: 40px;
    width: 100px;
    border-radius: 0 10px 0 10px;
    color: #333;
    border: 2px solid;
    cursor: pointer;
}

.caixasE button:hover{
    color: #f2f2f2;
    background-color: #333;
}

.fundoCaixa{
    margin-top: 10px;
}

.trabalhos{
    text-align: center;
}

.trabalhos h2{
    margin-top: 40px;
    color: #f2f2f2;
}

.trabalhos div{
    display: flex;
    margin-left: 5%;
    margin-top: 2%;
    border: 1px solid #f2f2f2;
    border-radius: 20px;

}

.trabalhos h3{
 color:rgb(0,255,209);
}