@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: rgb(23,23,23);
}

.site{
    display: flex;
    background: rgb(23,23,23);
}

.site img {
    margin-left: 20%;
    z-index: 1000;
}

.menu ul {
    display: flex;
}

.menu a{
    margin-left: 40%;
    text-decoration: none;
    
}

.site nav {
    margin-top: 22px;
    
    
}

.menu a {
    color: rgb(212,212,212);
    background-color: rgb(23,23,23);
    
    font-size: 15pt;
    margin-top: 15px;
}

.site #redesocial {
    margin-left: 40%;
    margin-top: 29px;

    
}
.site #redesocial ul{
    display: flex;
}

#redesocial a{
    text-decoration: none;
    padding: 10px 40px;

}


#redesocial a{
    font-size: 13pt;
    
    color: rgb(0,255,209);
}

.home {
    display: flex;
    
}

.home h2 {
    margin-top: 200px;
    margin-left: 200px;
    
    font-size: 30pt;
}

#redesocial input{
    width: 160px;
    border-radius: 20px;
    background-color: rgb(42,146,169);
    color: rgb(0,255,209);
    font-size: 13pt;
}

.home img{
    margin-right: 250px;
    margin-bottom: 1500px;
    width: 700px;
}

.home p{
    
    margin-top: 40px;
    font-size: 15pt;
    color:  #FFFFFF;
    padding: 0 15% 30% 20%;
}
